{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}
  <img src="{% static 'images/loans/gold.jpg'%}" alt="Gold Loan">
  <h1>About Gold Loan</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    We, at Citymore Nidhi Limited, understand our customer's needs and have three primary gold loan schemes to choose from. Our attractive interest rates, quick disbursal, multiple repayment options and value added benefits ensure a pleasant experience, make us our customer's first choice. We realise the emotional value of gold, and have in place, state of the art security surveillance infrastructure. When you pledge your gold with us, rest assured, it is in the safest hands. Come unlock the best value for your gold ornaments at any of our branches.

  </div>
  <h1>Features of Gold Loan</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>All loans are not created equal, Gold loan has become a great option for people to use.</p>
    <ol>
      <li><strong>Faster Loan: </strong> Hassle-free quick processing of loans.</li>
      <li><strong>Maximum Amount: </strong> Avail Loan upto 85% of Gold value.</li>
      <li><strong>Minimum Documentation: </strong> Minimum documentation and quick disbursal.</li>
      <li><strong>Less Paperwork: </strong> Simplified Paperwork.</li>
      <li><strong>Multiple Payment Options: </strong> Easy Payment Options.</li>
      <li><strong>ATL: </strong> ATL - Anytime Liquidity.</li>
    </ol>
  </div>
  <h1>Terms & Conditions</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>Terms & conditions of Gold Loans at Citymore Nidhi Limited are as follows.</p>
    <ol>
      <li>The loan tenure will be 3-12 months.</li>
      <li>The interest on your loan is fixed rate of interest and is mentioned on the sanction letter provided at the time of loan disbursement.</li>
      <li>The same is calculated per annum with monthly rate during tenure and payable upfront or monthly. Interest will be charged on a daily basis.</li>
      <li>Interest is to be paid on the due date as mentioned herein. Failure to pay interest on time will be an event of default and may lead to appopriate action by the company towards recovery of dues, including sale of gold, at the sole discretion of the company. In case of pre-payment or part payment, interest recovered upfront, shall not be refundable.</li>
      <li>Any default in payment of installment and/or other charges (if any) will lead to payment of additional interest as applicable for Temporary Overdraft (TOD) i.e. @ the rate of interest is 24% per annum.</li>
      <li>You shall be liable to pay the charges (panelty) as mentioned below which shall be payable upfront and shall be deducted from the sanctioned loan amount.</li>
    </ol>
  </div>
{% endblock %}
