{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}
  <img src="{% static 'images/loans/group.jpg'%}" alt="Group Loan">

  <h1>About Group Loan</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    These are purpose based loans given at moderate rates under Joint Liability Group (JLG) model. Group Loan like as a Self Help Groups. Self Help Groups (SHGs) are a homogenous group of 10-20 individuals who come together for saving and internally helping each other in times of need. Group members are engaged in livelihood activities such as running a retail shop, cattle rearing, zari work, tailoring jobs, making candles, artificial jewellery etc. Each individual saves a fixed amount on a monthly basis.

  </div>

  <h1>Features of Group Loan</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>All loans are not created equal, Group loan has become a great option for people to use.</p>
    <ol>
      <li><strong>Faster Loan: </strong> Hassle-free quick processing of loans.</li>
      <li><strong>Maximum Amount: </strong> Avail Loan upto Rs. 1,00,000 with minimum interest rate.</li>
      <li><strong>Minimum Documentation: </strong> Minimum documentation and quick disbursal.</li>
      <li><strong>Less Paperwork: </strong> Simplified Paperwork.</li>
      <li><strong>Multiple Payment Options: </strong> Easy Payment Options.</li>
      <li><strong>ATL: </strong> ATL - Anytime Liquidity.</li>
    </ol>
  </div>

  <h1>Terms & Conditions</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>Terms & conditions of Group Loans at Citymore Nidhi Limited are as follows.</p>
    <ol>
      <li>The member should be from weaker section of society.</li>
      <li>Group Loan will be provided for Earning of livelihood purpose.</li>
      <li>Group Loan will be provided on affordable Interest Rate.</li>
  </div>

  <h1>Requirement:</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <ol>
      <li>Dully filled prescribed application form</li>
      <li>Latest Photograph, Photo Identity & Residence Proof of the Applicant & Guarantor</li>
      <li>Group Loan will be provided on affordable Interest Rate.</li>
      <li>Aadhaar card.</li>
  </div>
{% endblock %}
