{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}
  <img src="{% static 'images/loans/loan-against-deposit.jpg'%}" alt="Loan against Deposit">

  <h1>Loan Against Deposit</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    At Citymore Nidhi Limited, you can avail a loan against the security of FIXED DEPOSIT BOND of our Company. The loan may be used to meet emergency financial requirements, to carry on business activities. You need not close the deposit prematurely and can avail the loan at the branch where you maintain the deposit.
  </div>

  <h1>Features of Loan Against Deposit  </h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>All loans are not created equal, Group loan has become a great option for people to use.</p>
    <ol>
      <li><strong>Faster Loan: </strong> Hassle-free quick processing of loans.</li>
      <li><strong>Maximum Amount: </strong> Avail Loan upto Rs. 2,00,000 & upto 85% of value.</li>
      <li><strong>Minimum Documentation: </strong> Minimum documentation and quick disbursal.</li>
      <li><strong>Less Paperwork: </strong> Simplified Paperwork.</li>
      <li><strong>Multiple Payment Options: </strong> Easy Payment Options.</li>
      <li><strong>ATL: </strong> ATL - Anytime Liquidity.</li>
    </ol>
  </div>

  <h1>Terms & Conditions</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>Terms & conditions of Gold Loans at Citymore Nidhi Limited are as follows.</p>
    <ol>
      <li>The loan tenure will be 3-12 months.</li>
      <li>The interest on your loan is fixed rate of interest and is mentioned on the sanction letter provided at the time of loan disbursement.</li>
      <li>The same is calculated per annum with monthly rate during tenure and payable upfront or monthly. Interest will be charged on a daily basis.</li>
      <li>Interest is to be paid on the due date as mentioned herein. Failure to pay interest on time will be an event of default and may lead to appopriate action by the company towards recovery of dues, including sale of gold, at the sole discretion of the company. In case of pre-payment or part payment, interest recovered upfront, shall not be refundable.</li>
      <li>Any default in payment of installment and/or other charges (if any) will lead to payment of additional interest as applicable for Temporary Overdraft (TOD) i.e. @ the rate of interest is 24% per annum.</li>
  </div>

  <h1>Requirement:</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <ol>
      <li>Any residential proof.</li>
      <li>Any identity proof.</li>
  </div>
{% endblock %}
