{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}
  <img src="{% static 'images/loans/mortgage.jpg'%}" alt="Mortgage Loan">

  <h1>Mortgage Loan</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    A mortgage loan service is available at Swezo Nidhi Limited and applicable for the domestic and commercial real estate properties. We work on building your dreams as well as your home stronger.
  </div>

  <h1>Features of Mortgage Loan </h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>All loans are not created equal, Group loan has become a great option for people to use.</p>
    <ol>
      <li><strong>Interests Rates: </strong> Attractive Interests Rates.</li>
      <li><strong>Doorstep Service: </strong> Doorstep Service.</li>
      <li><strong>Facility: </strong> Balance Transfer Facility.</li>
      <li><strong>Less Paperwork: </strong>Simplified Paperwork.</li>
      <li><strong>Prepayment: </strong> Nominal Prepayment Charges.</li>
      <li><strong>ATL: </strong> ATL - Anytime Liquidity.</li>
    </ol>
  </div>

  <h1>Requirement:</h1>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>Common Requirements for all Applicants:</p>
    <ol>
      <li>All Indian Citiziens of 18 years and above</li>
      <li>Residence and Age verification, which may be established from the PAN card, Election ID, Passport, Drivers license and Ration card etc.</li>
      <li>Copy of approved plan and sanction letter from local civic authority.</li>
      <li>Copy of NA permission.</li>
      <li>One/two guarantor/s form/s and salary certificates. - If guarantor is in business, copies of I.T. Returns or assessment orders for the last three years are required.</li>
      <li>Bank Pass-book of statements for the last one year.</li>
      <li>Latest salary slip/statement showing all deductions in case of employed applicants.</li>
      <li>Certified copies of Balance Sheets and Profit and Loss accounts, IT acknowledgments, advance tax challans (for company / firm and personal account) for the last three years in case of self employed applicants.</li>
      <li>Memorandum/Articles of Association for companies, partnership deeds for firms and a brief profile of your company/ firm in case of self employed applicants.
Terms & Conditions:</li>
  </div>
  <div class="jumbotron" style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
    <p>Citymore Nidhi Limited offers easy and attractive mortgage loan schemes in India. If you apply for property loans, the company requires some of the documents for security which includes identity proof (Aadhaar Card, Driving License, Passport, PAN Card, Voter ID) and one document of residential address proof (Electricity Bill, Water Bill, Telephone Bill, Credit Card Statement, House Tax, lease Documents, letter from reputed employer). The candidate who completes all the above requirements is eligible for the acquisition of mortgage loan. Contact our customer support executive if you still have any doubts left and then watch your dreams go live.</p>
  </div>
{% endblock %}
