{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}

  <!-- <div class="container"> -->
        <img src="{% static 'images/vision2.jpg' %}" alt="Citymore Vision" width="100%">
        <br>
        <h1>Our Vision</h1>
        <div class="jumbotron">
          <p style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.2em;">Global banking has changed rapidly and Citymore Nidhi Limited has worked hard to adapt to these changes. The company looks forward to the future with excitement and a commitment to bring greater benefits to our members. Citymore Nidhi Limited, with years of dedicated service to the Nation through active financial participation in all segments of the economy -Companies, Agriculture, Industry, Trade & Commerce, Service Sector, Infrastructure Sector etc., is keeping pace with the changing environment. Citymore Nidhi Limited has marched into the 21st Century matched with dynamism and growth!</p>
        </div>

        <h1>Regulatory</h1>
        <div class="jumbotron">
          <p style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.2em;">Citymore Nidhi Limited being a company registered under the Companies Act 2019, it automatically comes under the supervision of the MCA. Also being registered under the Nidhi, Citymore Nidhi Limited, Main objective to encourage and afford all facilities for cultivating thrift, saving habits and to render all financial assistance to its member only by receiving long and short term deposits and in particular recurring, fixed and other deposits, not being current accounts from the members as are allowed by law for Nidhi or Mutual Benefits Companies. And to grant loans to the shareholders or members only as against securities of immovable properties (within City) and/ or on the security of deposits, movable such as gold and other Government securities up on such terms and condition as may from time to time prescribed in law for Nidhi or Mutual Benefits Companies.</p>

        </div>

  <!-- </div> -->
{% endblock %}
