{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}
  <img src="{% static 'images/schemes/daily.jpg'%}" alt="Daily Deposit Scheme">
  <br><br>
  <h1>Terms & Conditions</h1>
  <div class="jumbotron">
    <ol style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
      <li>It is mandatory to be a member in the company.</li>
      <li>Company will issue ten shares (10/- Rs each) for DDS.</li>
      <li>Daily deposit scheme minimum amount  50/-, thereafter in multiples of  10/.</li>
      <li>inimum DDS would be of  50 per day and further in multiple of  10.</li>
      <li>Interest calculation daily basis.</li>
      <li>Loan available 3 to 3.5 times against deposits amount of DDS.</li>
    </ol>
  </div>

{% endblock %}
