{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}
  <img src="{% static 'images/schemes/fixed.jpg'%}" alt="Fixed Deposit Plan">
  <h1>Terms & Conditions</h1>
  <div class="jumbotron">
    <ol style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
      <li>It is mandatory to be a member in the company.</li>
      <li>Company will issue ten shares (10/- Rs each) for FD Plan.</li>
      <li>Fixed deposit minimum amount  500/-, thereafter in multiples of  100/.</li>
      <li>Minimum FD would be of  10000 and further in multiple of  1000.</li>
      <li>Interest calculation yearly compound.</li>
      <li>TDS Deducted to be deducted on interst. Paid by Citymore Nidhi Limited on Deposit as per provisions and income tax Act.</li>
      <li>Loan available against deposits up to 70% of deposited amount after one month from the date of deposit.</li>
    </ol>
  </div>
{% endblock %}
