{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}
    <img src="{% static 'images/schemes/monthly.jpg'%}" alt="Monthly Income Scheme">
    <h1>Terms & Conditions</h1>
    <div class="jumbotron">
      <ol style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
        <li>Minimum MIS would be of  10000/- and futher in multiple of  10000/-</li>
        <li>No TDS Deducted on interest paid by Citymore Nidhi Limited on Deposit.</li>
        <li>pecial MIS is applicable only for Senior citizens.</li>
        <li>Loan available against Deposit up to 70% of deposited amount after one month from the date of deposit.</li>
      </ol>
    </div>

{% endblock %}
