{% extends 'services/base.html' %}
{% load staticfiles %}
{% block content %}
  <img src="{% static 'images/schemes/saving.jpg'%}" alt="Saving Account">
  <h1>Salient Features</h1>
  <div class="jumbotron">
    <ol style="font-family:'Comic Sans MS', cursive, sans-serif; font-size:1.3em;">
      <li>Nomination Facility available for deposits.</li>
      <li>there can be only one Nominee for a deposit account whether held singly or jointly.</li>
      <li>A person legally empowered to operate a minor's account can file a nomination on behalf of the minor.</li>
      <li>Applicants can make nomination by filling up the prescribed form.</li>
      <li>The nomination details can be changed during the subsistence of the account relationship by filling up prescribed form.</li>
      <li>For more details approach your branch.</li>
    </ol>
  </div>

{% endblock %}
